.App {
  text-align: center;
}

.firstUser{
  margin-top: 20px;
  padding-right: 20px;
}

.user_two{
  text-align: right;
  margin-top: 20px;
  padding-right: 20px;

}

input{
  margin-right: 10px;
}
button{
  margin-right: 10px;
}
.imageSize{
  width: 200px;
  height: auto;
}
 .compareButton{
     margin-top: 20px;
 }

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
/*}*/

/*.App-header {*/
  /*background-color: #222;*/
  /*height: 150px;*/
  /*padding: 20px;*/
  /*color: white;*/
/*}*/

/*.App-title {*/
  /*font-size: 1.5em;*/
/*}*/

/*.App-intro {*/
  /*font-size: large;*/
/*}*/

/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/

